{% macro list(items) %}

    <ul>
        {% for item in items %}
        <li {% if item is yang %}style="color:red;"{% endif %}>
            {{ item.name }}({{ item.age }}<sup>3</sup>={{ cub(item.age) }})
        </li>

    {% endfor %}
    </ul>
{% endmacro %}