{% extends 'index.twig' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Добро пожаловать на мой сайт!</h1>
    </div>
    <p class="lead">Меня зовут Александр, я учусь програмировать на PHP ))</p>
    <p></p>
</div>
{% endblock %}
